body {
  padding-bottom: 35px;
  margin: 0;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

.input-text {
  width: calc(100% - 20px);
  padding: 10px 8px;
  margin-bottom: 15px;
  border: 2px solid #aaa;
  border-radius: 20px 20px 0;
}

.input-textarea {
  width: calc(100% - 20px);
  padding: 10px 8px;
  margin-bottom: 15px;
  border: 2px solid #aaa;
  border-radius: 15px 15px 0;
}

input:focus,
.input-textarea:focus,
button:focus {
  outline: none !important;
  border-color: #79c;
  box-shadow: 0 0 4px #79c;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
