body {
  padding-bottom: 50px;
  margin: 0;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

label {
  margin: 0 0 4px 15px;
  font-size: 12px;
  color: '#777';
}

input {
  width: calc(100% - 32px);
  padding: 10px 14px;
  margin-bottom: 15px;
  border: 2px solid #aaa;
  border-radius: 20px 20px 0;
  z-index: 1;
}

button {
  width: 100%;
  padding: 10px 7px;
}

input,
[contenteditable='true'] {
  font-size: 13px;
}

input:focus,
[contenteditable='true']:focus,
button:focus {
  outline: none !important;
  border-color: #79c;
  box-shadow: 0 0 4px #79c;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[contenteditable='true']:empty:before {
  content: attr(aria-placeholder);
  display: block;
}

[contenteditable='true']:empty:before {
  content: attr(aria-placeholder);
  display: block;
}
