body {
  margin: 0;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
}

.control {
  margin: 15px 0;
}

label {
  margin: 0 0 5px 15px;
  font-size: 12px;
  color: #222;
}

input {
  width: calc(100% - 32px);
  padding: 10px 14px;
  border: 2px solid #aaa;
  border-radius: 20px 20px 0;
}

button {
  height: 100%;
  display: inline-block;
  padding: 10px;
  border: 2px solid #bbb;
  background-color: #ddd;
  border-radius: 25px;
  cursor: pointer;
}

input,
[contenteditable='true'] {
  font-size: 13px;
}

input:focus,
[contenteditable='true']:focus,
button:focus {
  outline: none !important;
  border-color: #79c;
  box-shadow: 0 0 3px #8ab;
}

.error-input {
  border-color: #f33;
}

.error-msg {
  margin: 6px 0 8px 15px;
  font-size: 12px;
  color: red;
  font-size: 10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[contenteditable='true']:empty:before {
  content: attr(aria-placeholder);
  display: block;
}

[contenteditable='true']:empty:before {
  content: attr(aria-placeholder);
  display: block;
}
