.base {
  margin: 0 auto;
  width: 500px;
  position: relative;
}

.navbar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 25px;
  padding: 2px 20px;

  width: 100%;
  height: 50px;
  background: #eee;

  border-radius: 25px;
  box-shadow: 0 0 7px #aaa;

  z-index: 2;
}

.logo a {
  font-size: 1.3em;
  text-decoration: none;
  color: inherit;
}

.search {
  display: none;
}

.base.logged-in .search {
  display: block;
}

@media (max-width: 600px) {
  .base {
    width: 90%;
  }

  .navbar {
    justify-content: flex-end;
  }

  .base.logged-in .navbar {
    justify-content: space-between;
  }

  .logo {
    display: none;
  }
}
