.base {
  z-index: 3;
  position: fixed;
  bottom: 50px;
  right: 10%;

  background-color: #bbb;
  border-radius: 50%;

  padding: 12px;

  transform: translateY(150px);
  animation: appear 0.3s ease forwards;
}

.base svg {
  fill: url(#new-button-gradient) black;
  max-width: initial;
  width: 35px;
}

.base {
  --color-start: rgb(61, 61, 173);
  --color-middle: rgb(48, 184, 150);
  --color-stop: rgb(188, 214, 70);
}

@media (max-width: 600px) {
  .base {
    right: 5%;
  }
}

@keyframes appear {
  to {
    transform: translateY(0);
  }
}
