.base {
  gap: 30px;
}

.note {
  width: 90%;
  height: 500px;
  padding: 30px;
  margin: 0 auto;

  background: #449;

  box-shadow: 3px 3px 0px 3px #333;
  border-radius: 45px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.note > * {
  resize: none;
  width: 100%;
}

.note .title {
  flex-shrink: 0;
  line-height: 30px;
  font-size: 1.4rem;
  color: rgb(247, 187, 187);

  padding: 5px 0 10px;
  border-bottom: 2px solid #333;
}

.note .title::placeholder {
  color: #bbb;
}

.note .content {
  height: 100%;
  font-size: 0.9rem;
  color: #ccc;

  overflow: auto;
}

.note .content::placeholder {
  color: #bbb;
}

.note::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 600px) {
  .note {
    height: 400px;
  }
}
