.base {
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button.sortby::after {
  content: '';
  display: inline-block;
  height: 50%;
  width: 1px;
  margin: 0 8px;
  background-color: black;

  position: absolute;
  top: 25%;
}

button.direction {
  width: 35px;
  transition: transform 0.3s ease;
}

button.up {
  transform: rotate(-180deg);
}
